awsebcli==3.8.4
blessed==1.9.5
boto==2.43.0
boto3==1.4.1
botocore==1.4.78
cement==2.8.2
click==6.6
colorama==0.3.7
Django==1.10.3
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.12
elasticsearch==5.0.1
Flask==0.11.1
Flask-GoogleMaps==0.2.4
flask-io==1.12.0
Flask-SocketIO==2.7.2
itsdangerous==0.24
Jinja2==2.8
jmespath==0.9.0
MarkupSafe==0.23
marshmallow==2.9.1
oauthlib==2.0.0
pathspec==0.3.4
pyes==0.99.6
pymongo==3.3.1
python-dateutil==2.6.0
python-engineio==1.0.3
python-socketio==1.6.0
PyYAML==3.12
requests==2.9.1
requests-oauthlib==0.7.0
s3transfer==0.1.9
semantic-version==2.5.0
six==1.10.0
texttable==0.8.7
tweepy==3.5.0
urllib3==1.26.5
virtualenv==15.1.0
wcwidth==0.1.7
websocket-client==0.37.0
Werkzeug==0.11.11
